server:
  port: 0

spring:
  profiles:
    active: dev
  application:
    name: user-service  # configuration service에서 yml을 가져올때 {applicationanem}-{profile}.yml 형식으로 가져온다.
  config:
    import: "configserver:http://localhost:8888"

eureka:
  instance:
    instance-id: ${spring.cloud.client.hostname}:${spring.application.name}:${spring.application.instance_id:${random.value}}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: env, refresh, beans, health

greeting:
  message: hello

logging:
  level:
    com.wowls.userservice.client: DEBUG